In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Arraial Do Cabo,BR,2021-06-03 20:12:49,-22.9661,-42.0278,78.66,61,0,4.61
1,1,Kapaa,US,2021-06-03 20:12:50,22.0752,-159.3190,81.12,75,40,1.01
2,2,Chokurdakh,RU,2021-06-03 20:12:50,70.6333,147.9167,56.14,62,100,5.37
3,3,San Cristobal,VE,2021-06-03 20:12:50,7.7669,-72.2250,77.18,57,76,6.08
4,4,Albany,US,2021-06-03 20:11:59,42.6001,-73.9662,75.16,76,96,7.25

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Arraial Do Cabo,BR,2021-06-03 20:12:49,-22.9661,-42.0278,78.66,61,0,4.61
1,1,Kapaa,US,2021-06-03 20:12:50,22.0752,-159.3190,81.12,75,40,1.01
3,3,San Cristobal,VE,2021-06-03 20:12:50,7.7669,-72.2250,77.18,57,76,6.08
4,4,Albany,US,2021-06-03 20:11:59,42.6001,-73.9662,75.16,76,96,7.25
7,7,Portland,US,2021-06-03 20:10:04,45.5234,-122.6762,82.56,54,40,1.99
10,10,Samarai,PG,2021-06-03 20:12:52,-10.6167,150.6667,78.48,89,90,9.57
11,11,Ndende,GA,2021-06-03 20:12:52,-2.4008,11.3581,75.49,85,27,3.36
12,12,Ugoofaaru,MV,2021-06-03 20:12:52,5.6667,73.0000,82.83,74,100,17.00
13,13,Carutapera,BR,2021-06-03 20:12:53,-1.1950,-46.0200,81.03,79,33,8.21
16,16,Pishin,PK,2021-06-03 20:12:53,30.5803,66.9961,77.76,38,0,8.63

In [16]:
preferred_cities_df.count()

City_ID       197
City          197
Country       197
Date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0   Arraial Do Cabo      BR     78.66 -22.9661  -42.0278
1             Kapaa      US     81.12  22.0752 -159.3190
3     San Cristobal      VE     77.18   7.7669  -72.2250
4            Albany      US     75.16  42.6001  -73.9662
7          Portland      US     82.56  45.5234 -122.6762
10          Samarai      PG     78.48 -10.6167  150.6667
11           Ndende      GA     75.49  -2.4008   11.3581
12        Ugoofaaru      MV     82.83   5.6667   73.0000
13       Carutapera      BR     81.03  -1.1950  -46.0200
16           Pishin      PK     77.76  30.5803   66.9961

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,78.66,-22.9661,-42.0278,Pousada Porto Praia
1,Kapaa,US,81.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,San Cristobal,VE,77.18,7.7669,-72.2250,Posada Villaven C.A.
4,Albany,US,75.16,42.6001,-73.9662,
7,Portland,US,82.56,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
10,Samarai,PG,78.48,-10.6167,150.6667,Nuli Sapi
11,Ndende,GA,75.49,-2.4008,11.3581,
12,Ugoofaaru,MV,82.83,5.6667,73.0000,Ungoofaaru Inn
13,Carutapera,BR,81.03,-1.1950,-46.0200,Lidera
16,Pishin,PK,77.76,30.5803,66.9961,City Hotel Pishin

In [22]:
hotel_df.count()

City          197
Country       197
Max Temp      197
Lat           197
Lng           197
Hotel Name    197
dtype: int64

In [24]:
clean_hotel_df=hotel_df[hotel_df['Hotel Name'].astype(bool)]
clean_hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,78.66,-22.9661,-42.0278,Pousada Porto Praia
1,Kapaa,US,81.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,San Cristobal,VE,77.18,7.7669,-72.2250,Posada Villaven C.A.
7,Portland,US,82.56,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
10,Samarai,PG,78.48,-10.6167,150.6667,Nuli Sapi
...,...,...,...,...,...,...
559,Madison,US,84.51,34.7334,-86.5667,Embassy Suites by Hilton Huntsville Hotel & Spa
567,Bowling Green,US,82.11,36.9903,-86.4436,Hilton Garden Inn Bowling Green
568,Bodden Town,KY,87.01,19.2833,-81.2500,Will T Place
576,San Policarpo,PH,79.86,12.1791,125.5072,JM Lodge
580,Cartagena,CO,87.42,10.3997,-75.5144,Hotel Colombia Real - Cartagena

In [25]:
clean_hotel_df.count()

City          187
Country       187
Max Temp      187
Lat           187
Lng           187
Hotel Name    187
dtype: int64

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [29]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))